# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
flask/
.env

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Flask specific
instance/
*.env
*.flaskenv

# Migrations
migrations/

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ntuser.dat
Desktop.ini

# ZIP files
*.zip